<div class="footer">
  <div class="footer-links">
    <span class="me-1">Follow me: </span>
    <a href="https://github.com/Luca-Divit" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/di-vittorio/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Est. 2022
  </div>
</div>
