<%= render "navbar" %>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-4">
      <h2>Like what you see?</h2>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p>Get in touch!</p>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p>Email: </p><a href="mailto:luca.div@hotmail.com" class="">luca.div@hotmail.com</a>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p>LinkedIn: </p><a href="https://www.linkedin.com/in/di-vittorio/" class="">https://www.linkedin.com/in/di-vittorio/</a>
    </div>
  </div>
<%= render "footer" %>
</div>
