<%= render "navbar" %>
<div class="container content-spread c-spread">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-4">
      <h2>Do you like what you see?</h2>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p class="paragraph">For collaborations, employement offers or hackaton partnerships</p>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <h4>Get in touch!</h4>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p class="spacer"><i class="fa-solid fa-envelope"></i></p><a href="mailto:luca.div@hotmail.com" class="l-contact ">luca.div@hotmail.com</a>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p class="spacer"><i class="fa-brands fa-linkedin"></i></p><a href="https://www.linkedin.com/in/di-vittorio/" class="l-contact ">https://www.linkedin.com/in/di-vittorio/</a>
    </div>
    <div class="col-12 d-flex justify-content-center mb-4">
      <p class="spacer"><i class="fa-brands fa-github"></i></p><a href="https://github.com/Luca-Divit" class="l-contact ">https://github.com/Luca-Divit</a>
    </div>
  </div>
  <div class="footer-contact f-c">
    <hr>
    <%= render "footer" %>
  </div>
</div>
