<section class="top-nav">
  <div class="my-logo">
    <%= image_tag "LogoSam.png", style: "width: 40px;" %>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
</label>
  <ul class="menu">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
  </ul>
</section>
<div class="container">
  <div class="row">

    <div class="col-12 col-sm-8 col-md-10">
      <h1>Hello from the h1!</h1>
    </div>

    <div class="col-12 col-sm-4 col-md-2">
      <div class="btn btn-primary">Bootstrap working!</div>
    </div>

  </div>
</div>
