<%= render "navbar" %>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>GymBuddy</h1>
      </div>
      <div class="col-12 d-flex justify-content-center mb-4">
        <a href="http://www.gymbudy.com" target="_blank">www.gymbudy.com</a>
      </div>
    </div>
  </div>
<%= render "footer" %>
