.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-links {
  i {
    color: rgba(55, 55, 55, .4);
    transition: color .5s ease;
  }

  i:hover {
    color: rgba(55, 55, 55, .6)
  }
}
