.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-links {
  i {
    color: rgba(55, 55, 55, .4);
    transition: color .5s ease;
  }

  i:hover {
    color: rgba(55, 55, 55, .6)
  }
}

.f-contact {
  padding-top: 6.3rem;
}

.f-c {
  padding-top: 4em;
}

@media (max-width: 700px) {
  .f-contact {
    padding-top: 0;
    position: relative;
    bottom: -345px;
  }

  .footer-contact {
    padding-top: 9em;
  }
}
